.chat-container {
  display: flex;
  width: 100%;
  height: 100vh;
}
.chat-messages {
  flex: 1 1;
  padding: 8% 10px 5% 10px;
  overflow-y: auto;
  scrollbar-width: none;
  max-width: 70%;
  margin-left: auto;
  margin-right: auto;
  transition: max-width 0.3s ease-in-out;
}

.chat-messages.with-pdf {
  flex: 1 1;
  padding: 10px;
  overflow-y: auto;
  scrollbar-width: none;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
  transition: max-width 0.3s ease-in-out;
}
.chat-messages::-webkit-scrollbar {
  display: none;
}

.pdf-viewer-wrapper {
  width: 40%;
  height: 100vh;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
}
.chat-view {
  display: flex;
  flex-direction: column;
}
.prompt-container {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: flex-end; /* Push to the right */
  text-align: right;
  position: relative; /* Allows absolute positioning for buttons */
}

.prompt {
  position: relative;
  width: fit-content;
  background-color: #f4f4f4;
  color: #333;
  border-radius: 1rem;
  padding: 12px 20px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.edit-icon {
  border-radius: 1rem;
  background-color: #f4f4f4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  cursor: pointer;
  color: gray;
  transition: color 0.3s;
  margin-right: 10px;
}
.copy-icon {
  border-radius: 1rem;
  background-color: #f4f4f4;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  padding: 15px 20px;
  cursor: pointer;
  color: gray;
  transition: color 0.3s;
  margin-right: 7px;
}
.copy-icon:hover {
  color: black;
}
action-icons {
  display: flex;
  margin-right: 10px;
  gap: 18px;
  position: absolute;
  right: 0;
  top: -10px;
}

.edit-icon:hover {
  color: black;
}
/* .edit-mode {
  background-color: #f4f4f4;
  color: #333;
  border-radius: 1rem;
  padding: 12px 20px;
} */
.edit-mode {
  background-color: #f4f4f4;
  color: #333;
  border-radius: 1rem;
  padding: 20px;
  width: 100%;
  max-width: 600px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  resize: none;
  overflow-y: auto;
  overflow-x: hidden;
}

.edit-input {
  width: 100%;
  min-height: 150px;
  background-color: #f4f4f4;
  color: #333;
  border: none;
  outline: none;
  padding: 12px 16px;
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 40px;
  box-sizing: border-box;
  resize: none;
  overflow-x: hidden;
  overflow-y: auto;
}

.edit-btn-container {
  display: flex;
  justify-content: flex-end;
  gap: 8px;
}

.send-btn,
.cancel-btn {
  padding: 10px 15px;
  border: 1px solid #333;
  cursor: pointer;
  border-radius: 18px;
  font-size: 14px;
  margin-right: 5px;
}

.send-btn {
  background: #003333;
  color: white;
}

.send-btn:hover {
  background: #005555;
}
.cancel-btn {
  background: #fff;
  color: #333;
}
.cancel-btn:hover {
  background: #f4f4f4;
}

.response {
  background-color: #fff;
  color: #333;
  padding: 10px 10px 10% 10px;
  border-radius: 8px;
}

.source-docs {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 5px;
  align-items: center;
}

.source-docs p {
  font-size: 12px;
  color: rgb(54, 51, 51);
  padding: 2px 8px;
  background-color: rgba(231, 231, 231, 0.9);
  border-radius: 10px;
  cursor: pointer;
  margin: 0;
  white-space: nowrap;
}

.source-docs p:hover {
  background-color: rgb(159, 66, 66);
  color: #f2f2f2;
}
.markdown-container table {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;
}
.markdown-container th {
  background-color: #003333;
  color: white;
  font-weight: bold;
  padding: 10px;
}
.markdown-container td {
  border: 1px solid #ddd;
  padding: 10px;
}
.markdown-container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.markdown-container tr:hover {
  background-color: #ddd;
}
.loading-animation {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: bold;
  color: #666;
}
.prompt-loading {
  background-color: #f4f4f4;
  color: #333;
  border-radius: 1.5rem;
  padding: 15px 20px;
  font-weight: bold;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  align-self: flex-end;
}
.copied-tooltip {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #333;
  color: #fff;
  padding: 4px 10px;
  border-radius: 6px;
  font-size: 12px;
  white-space: nowrap;
  z-index: 10;
  opacity: 0;
  animation: fadeInOut 1s forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translate(-50%, -5px);
  }
  20% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  80% {
    opacity: 1;
    transform: translate(-50%, 0);
  }
  100% {
    opacity: 0;
    transform: translate(-50%, -5px);
  }
}
