.search-container-wrapper {
  width: 100%;
  padding: 10px;
  display: flex;
}

.search-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 800px; /* Prevents it from being too wide */
  border: 2px solid #000;
  border-radius: 10px;
  background-color: white;
  padding: 4px;
}

.search-input {
  flex-grow: 1;
  border: none;
  outline: none;
  font-size: 16px;
  padding: 8px;
  background: white;
  border-radius: 5px;
}

.search-button {
  border: none;
  background: transparent;
  cursor: pointer;
  font-size: 18px;
  color: #000;
  margin-left: 8px;
}

.search-button:hover {
  color: black;
}

/* Adjust width when PdfViewer is open */
.pdf-open .search-container {
  width: 50%;
}
