.sidebar-options {
  display: flex;
  flex-direction: column;
  height: 100%;
}
.sidebar-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: sticky;
  top: 0;
}
.sidebar-logo {
  width: 125px;
  height: auto;
  margin-top: 10%;
}
.sidebar-title {
  color: #003333;
  font-size: 10px;
  font-weight: bold;
  color: #000000;
  margin-top: 5%;
}
.sidebar-button {
  border: none;
  border-radius: 10px;
  background: #003333;
  cursor: pointer;
  font-size: 15px;
  font-weight: bold;
  color: #f3f7fb;
  margin-top: 5%;
  padding: 12px 24px;
}
.sidebar-chat {
  flex-grow: 1;
  overflow-y: auto;
  padding: 10px;
  background-color: #ffffff;
  scrollbar-width: none;
}
.sidebar-chat::-webkit-scrollbar {
  display: none;
}
