.help-container {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: #ffffff;
  padding: 10px;
}
.chat-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.help-title {
  font-size: 20px;
  font-weight: bold;
  color: #000000;
  text-align: center;
}
.help-description {
  font-size: 14px;
  color: rgb(119, 118, 118);
  text-align: center;
}
.separator {
  border: none;
  border-top: 1px solid rgb(45, 120, 181);
  width: 50%;
}
